body {
	padding: 2em;
}

.panel-group .list-group {
	margin-bottom: 0;
}

.panel-group .list-group .list-group-item {
	border-radius: 0;
	border-left: none;
	border-right: none;
}

.panel-group .list-group .list-group-item:last-child {
	border-bottom: none;
}

.messageDateCell {
	min-width: 180px;
}


ul,li,p {
  margin: 0;
  padding: 0;
}
ul,li {
  list-style: none;
}

#content {
    max-width: 400px;
}

.room {
	width: 100%;      /* チャットルームの幅を指定 */
	background: #eee;  /* チャットルームの背景を灰色 */
	padding: 10px;     /* 余白を10pxキープ */
}

.chat {
	display: flex;        /* 要素を横並び */
	margin-bottom: 10px;  /* チャット同士に隙間を作る */
}

.chat .mes {
	max-width: 70%;       /* 短いチャットにも対応させるため、widthではなくmax-widthを指定 */
	border-radius: 20px;  /* （あとでも可）角丸を指定 */
	padding: 0.5em;       /* （あとでも可）メッセージの内側に余白 */
}

.chat .status {
	color: #aaa;          /* 文字色を灰色に指定 */
	font-size: 11px;      /* 文字サイズは小さめ */
	align-self: flex-end; /* この要素は下寄せ */
	margin: 0 5px;        /* 左右に隙間を作る（ちょっと楽してます）*/
}


/* 相手メッセージのCSS */
.chat.you .mes{
  color: #000;        /* 文字色 */
  background: #ccc;   /* 背景 */
}

/* 自分メッセージのCSS */
.chat.me {
  flex-direction: row-reverse;  /* 左右の並び順を逆順にする */
}

.chat.me .mes{
  background: #5AC323;          /* 背景色を緑 */
}

.chat .status {
  text-align: right;            /* 右寄せにする */
}


/* callviewer用 */
table, th, td {
    border: 1px solid;
}

